*{
    padding:0;
    margin:0;
    font-family: 'pliant', sans-serif;
}

.hero-section {
    background-image: url(https://imgs.search.brave.com/5jlZFaqU9Z4aaAb8K9TEzWZB-Rkz7pjyp4Y5dixlspY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA4Lzk3LzIxLzA0/LzM2MF9GXzg5NzIx/MDQ1M19nZ1dyNWhq/b3RZYUpCNlVRNWF2/cjRvcngxeUhkTWRs/aC5qcGc);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;    
    position: relative;
    text-align:center;
    margin-bottom: 20px;
}

.hero-text {
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.book-btn ,
.know-btn{
    font-size:18px;
    margin-top: 10px;
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.about-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.about-us {
    width:50%;
    font-weight: lighter;
}
ul {
    font-weight: lighter;
}
.h1-about {
    text-decoration: underline;
    text-align: center;
}
.know-more-container {
    text-align: center;
}
ul li{
    list-style: none;
    
}
.fa-solid {
    margin-right: 10px;
}
.room-images img{
    width:500px;
    height: 400px;
    
}
.room-type-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row-reverse;
    padding: 20px 20px 20px 20px;
}
.room-list {
    padding-right : 10px;
}
.room-heading,
.form-heading{
    text-decoration: underline;
    text-align: center;
    
}
.room-list h4{
    font-size:18px;
    
}
.room-list p {
    font-weight: lighter;
}
.help-button {
    background-color: brown;
    width:fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    position: fixed;
    bottom:20px;
    right: -10px;
    
}
.help-button h4{
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.booking-form {
    border: 2px solid grey;
    margin: 20px;
    width: max-content;
    border-radius: 15px;
    padding: 50px;
    

}
.form-group {
    margin:15px;
}
.booking-container {
    display: flex;
    justify-content: center;
    
}
label {
    font-size: 20px;
   
}
input {
    padding: 5px;
    font-size: 15px;
}
.form-heading{
    font-weight: 550;
}
p {
    color: grey;
}
label,input,select {
    color: grey;
}
